{% extends "padre.html" %}
    {% load static %}
{% block contenido %}
  
      <!--Aca se va a colocar lo que se cambia-->
      <h1>Bienvenido a mi proyecto!!</h1>
      <h3>Podes buscar marcas dentro del deposito</h3>
      <form action="" method="GET">
          
        <input type="text" name="marca" id="marca">
        <input type="submit" value="Buscar">
        
       </form>
       
       {% if referencia %}
         <ul>
           {% for depo1 in referencia %}
               <li> {{depo1.item}}</li>
               <li> {{depo1.cantidad}}</li>
               <li> {{depo1.marca}}</li>
           {% endfor %}

       
         </ul>
       {% endif %}

          {% if mensaje %}
          <h2>{{ mensaje }}</h2>

          {% endif %}
       
      
      {% endblock %} 
